@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");
/* -------------RESETS------------- */

:root {
	--font: "Truculenta", sans-serif;
	--dark: #2b2b2b;
	--light: #fff;
	--primary: #1b8b83;
	--secondary: #cfa584;
	--tertiary: #d9d9d9;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
	list-style: none;
}
html {
	font-size: 62.5%;
	height: 100%;
}
body {
	color: #2b2b2b;
	font-family: "Truculenta", sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
	line-height: 1.4;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
	display: block;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

.container {
	max-width: 120rem;
	padding: 0 1.5rem;
	margin: 0 auto;
}

/* HEADER */

.header {
	background-color: var(--tertiary);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: relative;
}

.header .header_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}

.header .header_wrapper.open {
	background-color: var(--tertiary);
	border-radius: 2rem;
	padding: 1rem;
	position: fixed;
	width: 80rem;
	max-width: 100%;
	margin: 0 auto;
	left: 0%;
	right: 0;
	z-index: 999;
	transition: all 0.5s ease;
}

.header img {
	width: 10rem;
}

.header .header_nav {
	display: flex;
	gap: 3rem;
}

.header .header_nav li a {
	color: var(--dark);
	font-weight: bold;
	font-size: 2rem;
	transition: all 0.5s ease;
}

.header .header_nav li a:hover,
.header .header_nav li a.active {
	color: var(--primary);
	transition: all 0.5s ease;
}

.header .toggle_menu {
	display: none;
}

/* -------header - mobile---- */
.header .toggle_menu span {
	width: 3rem;
	height: 0.3rem;
	border: 1px solid var(--primary);
	border-radius: 1rem;
	background-color: var(--primary);
	transition: all 0.5s ease;
}

@media screen and (max-width: 500px) {
	.header {
		position: fixed;
		width: 100%;
		left: 0;
		background-color: var(--tertiary);
		z-index: 999;
	}
	.header .toggle_menu {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		transition: 0.5s ease;
	}
	.header .header_nav {
		display: flex;
		flex-direction: column;
		position: fixed;
		background-color: var(--tertiary);
		width: 50%;
		height: 100vh;
		padding: 3rem;
		top: 0;
		margin-top: 6rem;
		z-index: 99;
		right: -100%;
		transition: 0.5s ease;
	}

	.header .header_nav.open {
		right: 0;
		transition: all 0.5s ease;
	}

	.header .toggle_menu.open span:first-child {
		transform: translate(0, 10px) rotate(225deg);
		transition: all 0.5s ease;
	}

	.header .toggle_menu.open span:nth-child(2) {
		opacity: 0;
		transition: all 0.5s ease;
	}

	.header .toggle_menu.open span:last-child {
		transform: translate(0, -6px) rotate(-225deg);
		transition: all 0.5s ease;
	}

	.backDrop {
		display: block;
		background-color: rgba(0, 0, 0, 0.7);
		opacity: 0%;
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: 99;
		transition: 0.5s ease;
	}

	.backDrop.open {
		display: block;
		background-color: rgba(0, 0, 0, 0.7);
		opacity: 100%;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		z-index: 99;
		transition: 0.5s ease;
	}
}

/* TOP */

.top {
	background-color: var(--secondary);
	padding: 2rem 0;
	text-align: center;
}

.top .top_txt {
	color: var(--dark);
	line-height: 2rem;
}

.top small {
	font-family: Truculenta;
	font-weight: 200;
	letter-spacing: 0.5rem;
}

.top h4 {
	font-size: 2.5rem;
	font-weight: bold;
	max-width: 10rem;
	line-height: 2.5rem;
	letter-spacing: 0.5rem;
	margin: 0 auto;
}

@media screen and (max-width: 520px) {
	.top {
		background-color: var(--secondary);
		padding: 8rem 0 2rem 0;
		text-align: center;
	}
}

/* BANNER */

.homeBanner {
	padding: 5rem 0;
	background-color: var(--light);
}

.homeBanner .homeBanner_Wrapper {
	display: flex;
	justify-content: space-between;
}

.homeBanner .homeBanner_txt {
	max-width: 80rem;
}

.homeBanner .homeBanner_txt--title li {
	line-height: 4.5rem;
}

.homeBanner .homeBanner_txt--title li:first-child {
	color: var(--primary);
	font-size: 4.5rem;
	font-weight: bold;
}

.homeBanner .homeBanner_txt--title li:nth-child(2) {
	font-size: 5rem;
	font-weight: bold;
	color: var(--secondary);
	margin-left: 5.5rem;
}

.homeBanner .homeBanner_txt--title li:last-child {
	font-size: 4.5rem;
	color: var(--primary);
	font-weight: 200;
}

.homeBanner .homeBanner_txt--title li:last-child::before {
	background-color: var(--primary);
	position: relative;
	height: 0.2rem;
	width: 12rem;
	display: inline-block;
	content: " ";
	bottom: 1rem;
	right: 0.5rem;
}

.homeBanner .homeBanner_txt p {
	margin: 2rem 0;
	max-width: 60rem;
	text-align: justify;
}

.homeBanner .homeBanner_img {
	display: flex;
	gap: 2rem;
}

.homeBanner .homeBanner_img img:last-child {
	position: relative;
	top: 3rem;
}

/* Home Banner Mobile */

@media screen and (max-width: 520px){
	.homeBanner .homeBanner_img img {
		display: none;
	}

	.homeBanner .homeBanner_txt--title li:first-child {
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}

	.homeBanner .homeBanner_txt--title li:nth-child(2) {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		padding: 1rem 0;
	}

	.homeBanner .homeBanner_txt--title li:last-child {
		margin: 0 auto;
		justify-content: center;
	}

	.homeBanner .homeBanner_txt--title li:last-child::before {
		background-color: var(--primary);
		position: relative;
		height: 0.2rem;
		width: 14.3rem;
		display: inline-block;
		content: " ";
		bottom: 1rem;
		right: 0.5rem;
	}

	.homeBanner .homeBanner_txt--title li:last-child::after {
		background-color: var(--primary);
		position: relative;
		height: 0.2rem;
		width: 14rem;
		display: inline-block;
		content: " ";
		bottom: 1rem;
		left: 1rem;
	}
}

/* ABOUT */

.homeAbout {
	padding: 5rem 0;
	background-color: var(--dark);
	color: var(--light);
}

.homeAbout h2 {
	font-size: 4rem;
	color: var(--primary);
}

.homeAbout h2::before {
	display: inline-block;
	position: relative;
	content: " ";
	background-color: var(--primary);
	height: 0.2rem;
	width: 80rem;
	bottom: 1rem;
	right: 0.5rem;
	gap: 1rem;
}

.homeAbout .homeAbout_wrapper {
	display: flex;
	margin-top: 2rem;
	gap: 3rem;
}

.homeAbout .homeAbout_img {
	width: 80rem;
}

.homeAbout .homeAbout_txt p {
	margin-bottom: 2rem;
	text-align: justify;
}

@media screen and (max-width: 520px) {
	.homeAbout .homeAbout_wrapper {
		display: flex;
		flex-direction: column;
	}

	.homeAbout h2::before {
		display: none;
	}

	.homeAbout h2::after {
		display: inline-block;
		position: relative;
		content: " ";
		background-color: var(--primary);
		height: 0.2rem;
		width: 46rem;
		bottom: 1rem;
		right: 0.5rem;
		gap: 1rem;
	}

	.homeAbout h2 {
		justify-content: center;
		margin: 0 auto;
	}

	.homeAbout .homeAbout_img {
		display: none;
	}
}

/* CATALOG */

.homeCatalog .homeCatalog_wrapper {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;
	justify-content: center;
}

.homeCatalog {
	padding: 5rem 0;
	background-color: var(--tertiary);
}

.homeCatalog h2 {
	position: relative;
	font-size: 4rem;
	color: var(--primary);
	right: 4.5rem;
	font-weight: 500;
}

.homeCatalog h2::after {
	display: inline-block;
	content: " ";
	background-color: var(--primary);
	position: relative;
	height: 0.2rem;
	width: 85rem;
	bottom: 1rem;
	left: 0.8rem;
}

@media screen and (max-width: 520px) {
	.homeCatalog h2::after {
		display: inline-block;
		content: " ";
		background-color: var(--primary);
		position: relative;
		height: 0.2rem;
		width: 45rem;
		bottom: 1rem;
		left: 0.2rem;
	}

	.homeCatalog h2 {
		right: 0;
	}
}

/* CALL TO ACTION */

.cta {
	padding: 5rem;
	background-color: var(--primary);
	text-align: center;
}

.cta h3 {
	font-size: 3rem;
	font-weight: bold;
}

.cta p {
	margin: 2rem 0;
}

@media screen and (max-width: 520px) {
	.cta p {
		margin: 2rem 0;
	}
}

/* FOOTER */

.footer {
	background-color: var(--dark);
	padding: 3rem 0;
	color: var(--light);
}

.footer .footer_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .footer_social {
	display: flex;
	gap: 2rem;
}

.footer .footer_social li a {
	color: var(--light);
	transition: all 0.5s ease;
}

.footer .footer_social li a:hover {
	color: var(--primary);
	transition: all 0.5s ease;
}

@media screen and (max-width: 520px) {
	.footer .footer_wrapper {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.footer .footer_social {
		scale: 150%;
	}

	.footer p {
		font-size: 2rem;
	}
}
/* ASSETS */

.btn {
	display: inline-block;
	background-color: transparent;
	color: transparent;
	border: 1px solid transparent;
	padding: 1rem 2rem;
	border-radius: 2rem;
}

.btn.btn-tertiary {
	background-color: var(--tertiary);
	color: var(--dark);
	font-weight: bold;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn.btn-tertiary:hover {
	background-color: var(--primary);
	color: var(--light);
}

.btn-nobg {
	color: var(--primary);
	transition: all 0.5s ease;
}

.btn-nobg:hover {
	color: var(--secondary);
	transition: all 0.5s ease;
}

.card {
	background-color: var(--light);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	max-width: 35rem;
}

.card img {
	width: 100%;
}

.card .card_details {
	padding: 2rem;
}

.card .card_details h4 {
	font-size: 2.5rem;
	color: var(--secondary);
	font-weight: bold;
}

/* ASSETS MOBILE */

@media screen and (max-width: 520px) {
	.btn {
		display: flex;
		justify-content: center;
	}
}

.card .card_details p {
	margin: 1rem 0;
}

/* ABOUT BANNER */

.aboutBanner {
	background-color: var(--light);
	padding: 3rem;
}

.aboutBanner_wrapper {
	display: flex;
	margin-top: 2rem;
	align-items: center;
	gap: 5rem;
}

.aboutBanner .aboutBanner_img img {
	width: 85rem;
}

.aboutBanner .aboutBanner_img small::before {
	display: inline-block;
	content: " ";
	width: 30rem;
	height: 0.2rem;
	background-color: var(--dark);
	position: relative;
	bottom: 0.35rem;
}

.aboutBanner .aboutBanner_txt h2 {
	font-size: 5rem;
	font-weight: bold;
	letter-spacing: 2rem;
}

.aboutBanner .aboutBanner_txt p {
	margin: 2rem 0;
	text-align: justify;
}

.aboutBanner .aboutBanner_txt ul {
	display: flex;
	margin-top: 5rem;
	gap: 5rem;
}

.aboutBanner .aboutBanner_txt ul li a i {
	color: var(--dark);
	scale: 200%;
}

@media screen and (max-width: 520px) {
	.aboutBanner_wrapper {
		display: flex;
		margin-top: 10rem;
		align-items: center;
		flex-wrap: wrap;
	}

	.aboutBanner .aboutBanner_img img {
		width: 40rem;
		justify-content: center;
		display: flex;
	}

	.aboutBanner .aboutBanner_img small::before {
		display: inline-block;
		content: " ";
		width: 28rem;
		height: 0.2rem;
		background-color: var(--dark);
		position: relative;
		bottom: 0.35rem;
	}

	.aboutBanner .aboutBanner_txt h2 {
		display: flex;
		font-size: 4rem;
		font-weight: bold;
		letter-spacing: 2rem;
		margin-top: -4rem;
		justify-content: center;
	}

	.aboutBanner .aboutBanner_txt ul {
		margin-top: 5rem;
		justify-content: center;
		gap: 5rem;
	}
}

/* ABOUT STYLES */

.aboutStyle {
	background-color: var(--dark);
	padding: 5rem;
}

.aboutStyle .aboutStyle_wrapper {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 6rem;
	justify-content: center;
}

.aboutStyle h2 {
	color: var(--primary);
	font-size: 5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.aboutStyle h4 {
	color: var(--light);
	font-size: 2rem;
	font-weight: 200;
	text-align: justify;
}

@media screen and (max-width: 520px) {
	.aboutStyle h4 {
		color: var(--light);
		font-size: 2rem;
		font-weight: 200;
		margin-bottom: 2rem;
	}

	.aboutStyle .aboutStyle_wrapper {
		margin-top: 1rem;
		display: flex;
		flex-wrap: wrap;
		gap: 6rem;
		justify-content: center;
	}
}

/* CATALOG PAGE */

.catalogBanner {
	background: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url(./img/img/catalog-banner.png);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.catalogBanner h1 {
	font-size: 7rem;
	font-weight: bold;
	color: var(--primary);
	text-align: center;
}

.catalogBanner h4 {
	font-size: 2.5rem;
	max-width: 40rem;
	margin: 0 auto;
	text-align: center;
}

/* CATALOG PACKAGES */

.catalogPackages h1 {
	display: flex;
	justify-content: center;
	font-size: 7rem;
	text-align: center;
	color: var(--primary);
	font-weight: bold;
	padding: 5rem;
}

.catalogPackages .package:nth-child(odd) {
	padding: 5rem 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: justify;
}

.catalogPackages .package:nth-child(even) {
	padding: 5rem 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	background-color: var(--tertiary);
	text-align: justify;
}

.catalogPackages .package p:nth-child(even) {
	margin-right: 5rem;
}

.catalogPackages .catalog__img {
	width: 60rem;
}

.catalogPackages .catalog__txt h1 {
	display: flex;
	font-size: 7rem;
	font-weight: bold;
	justify-content: center;
	color: var(--primary);
}

.catalogPackages .catalog__txt p {
	max-width: 50rem;
	justify-content: center;
	margin-left: 5rem;
	padding-bottom: 10rem;
}

@media screen and (max-width: 520px) {
	.catalogPackages .catalog__txt h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	.catalogPackages .package:nth-child(odd) {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: justify;
	}

	.catalogPackages .package:nth-child(even) {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--tertiary);
		text-align: justify;
	}
}

/* UPDATES PAGE */

.updatesBanner .updatesBanner__wrapper {
	padding: 5rem 0;
	display: flex;
	align-items: center;
	gap: 10rem;
}

.updatesBanner .updatesBanner__txt {
	text-align: center;
}

.updatesBanner .updatesBanner__txt h1 {
	font-size: 7rem;
	font-weight: bold;
	color: var(--primary);
	margin-bottom: 2rem;
}

.updatesBanner .updatesBanner__txt p {
	max-width: 50rem;
	text-align: justify;
}

@media screen and (max-width: 520px) {
	.updatesBanner .updatesBanner__wrapper {
		display: flex;
		flex-direction: column;
		padding: 10rem 0;
		gap: 5rem;
	}
}

/* UPDATE DESIGNS */

.updateDesigns {
	padding: 10rem;
}

.updateDesigns .updateDesigns__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 3rem 0;
	flex-wrap: wrap;
	gap: 10rem;
}

.updateDesigns h4 {
	font-size: 3rem;
	color: var(--secondary);
	font-weight: bold;
	padding-bottom: 5rem;
}

.updateDesigns .updateDesigns__designs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.updateDesigns .updateDesigns__designs .block {
	display: block;
	background-color: var(--tertiary);
	width: 30rem;
	height: 22rem;
	padding: 1rem;
	margin-top: 1rem;
}

.updateDesigns .updateDesigns__designs .block h3 {
	font-weight: bold;
	text-align: center;
	font-size: 3rem;
}

.updateDesigns .updateDesigns__designs .block p {
	text-align: center;
	margin: 1.5rem 0;
}

.updateDesigns .updateDesigns__designs .block a i {
	display: flex;
	justify-self: flex-end;
	color: var(--dark);
	font-size: 4rem;
}

.updateDesigns .updateDesigns__categories .categoryTXT {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.updateDesigns .updateDesigns__categories .categoryTXT .category,
.updateDesigns .updateDesigns__categories .categoryTXT .numbers {
	font-weight: bold;
	font-size: 2rem;
}

.updateDesigns .updateDesigns__categories .categoryTXT .category li,
.updateDesigns .updateDesigns__categories .categoryTXT .numbers li {
	margin-bottom: 3rem;
}

@media screen and (max-width: 520px) {
	.updateDesigns .updateDesigns__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		padding: 3rem 0;
		flex-wrap: wrap;
		gap: 10rem;
	}

	.updateDesigns h4 {
		font-size: 3rem;
		color: var(--secondary);
		font-weight: bold;
		padding-bottom: 5rem;
		text-align: center;
	}

	.updateDesigns .updateDesigns__designs {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	.updateDesigns .updateDesigns__designs .block {
		display: block;
		background-color: var(--tertiary);
		width: 30rem;
		height: 22rem;
		padding: 1rem;
		margin-top: 1rem;
	}

	.updateDesigns .updateDesigns__categories .categoryTXT .category,
	.updateDesigns .updateDesigns__categories .categoryTXT .numbers {
		font-weight: bold;
		font-size: 2rem;
		text-align: center;
		margin: 0 auto;
	}
}

/* UPDATES PROJECTS */

.updateRecent {
	padding: 5rem 0;
}

.updateRecent h2 {
	font-size: 4rem;
	color: var(--primary);
	text-align: center;
	font-weight: bold;
	margin-bottom: 5rem;
}

.updateRecent .updateRecent__img {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 5rem;
}

.updateRecent .updateRecent__img .proj__img .proj__info {
	display: flex;
	gap: 19rem;
}

.updateRecent .updateRecent__img .proj__img .proj__info .proj__name,
.updateRecent .updateRecent__img .proj__img .proj__info .proj__date {
	display: flex;
	gap: 1rem;
	font-weight: bold;
}

.updateRecent .updateRecent__img .proj__img .proj__info .proj__name i,
.updateRecent .updateRecent__img .proj__img .proj__info .proj__date i {
	position: relative;
	top: 0.35rem;
}

@media screen and (max-width: 520px) {
	.updateRecent .updateRecent__img {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5rem;
	}
}

/* CONTACTS PAGE */

.contactUs {
	background-color: var(--tertiary);
	align-content: center;
	width: 100%;
	height: 84.2vh;
}

.contactUs .contactUs__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 10rem;
}

.contactUs .contactUs__text h1 {
	color: var(--primary);
	font-size: 7rem;
	font-weight: bold;
}

.contactUs .contactUs__text p {
	margin-bottom: 2rem;
}

.contactUs .contactUs__text form {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.contactUs .contactUs__text form input,
.contactUs .contactUs__text form textarea {
	background-color: var(--tertiary);
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 2rem;
	font-family: truculenta;
	font-size: 1.8rem;
	width: 70rem;
}

.contactUs .contactUs__text form textarea {
	height: 13rem;
}

.contactUs .contactUs__text a {
	background-color: var(--dark);
	color: var(--light);
	margin-top: 2rem;
	width: 100%;
	text-align: center;
	letter-spacing: 1rem;
}

.contactUs .contactUs__info {
	display: block;
	background-color: var(--dark);
	width: 45rem;
	height: 30rem;
	padding: 1rem;
	margin-top: 10rem;
	color: var(--light);
}

.contactUs .contactUs__info .info{
	display: flex;
	gap: 1rem;
	padding: 1rem 9rem;
	max-width: 100rem;
}

.contactUs .contactUs__info h2 {
	font-size: 4rem;
	text-align: center;
	margin-top: 1rem;
}

.contactUs .contactUs__info .info i{
	color: var(--secondary);
	position: relative;
	top: .6rem;
}

.contactUs .contactUs__info .info h4{
	font-size: 2rem;
}

/* CONTACT US MOBILE */

@media screen and (max-width:520px) {

	.contactUs {
		background-color: var(--tertiary);
		align-content: center;
		width: 100%;
		height: 120vh;
	}

	.contactUs .contactUs__text form input,
.contactUs .contactUs__text form textarea {
	background-color: var(--tertiary);
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 2rem;
	font-family: truculenta;
	font-size: 1.8rem;
	width: 45rem;
}

	.contactUs .contactUs__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		gap: 2rem;
	}
}
